<div class="table-container">
  <h2>Solicitações de Acesso</h2>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Usuário</th>
        <th>Programa</th>
        <th>Permissão</th>
        <th>Finalizado</th>
        <th>Data</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of solicitacoes">
        <td>{{ s.id }}</td>
        <td>{{ s.usuarioWorkflowNome }}</td>
        <td>{{ s.programaNome }}</td>
        <td>{{ s.permissao }}</td>
        <td>{{ s.finalizado ? 'Sim' : 'Não' }}</td>
        <td>{{ s.dataSolicitacao | date:'dd/MM/yyyy' }}</td>
<td>
  <button class="btn-detalhes" (click)="abrirDetalhes(s)">Detalhes</button>
</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal" *ngIf="detalheSelecionado">
  <div class="modal-content">
    <span class="close" (click)="fecharDetalhes()">×</span>
    <h3>Detalhes da Solicitação</h3>

    <p><strong>ID:</strong> {{ detalheSelecionado.id }}</p>
    <p><strong>Solicitante:</strong> {{ detalheSelecionado.solicitanteWorkflowNome }}</p>
    <p><strong>Usuário:</strong> {{ detalheSelecionado.usuarioWorkflowNome }}</p>
    <p><strong>Programa:</strong> {{ detalheSelecionado.programaNome }}</p>
    <p><strong>Permissão:</strong> {{ detalheSelecionado.permissao }}</p>
    <p><strong>Finalizado:</strong> {{ detalheSelecionado.finalizado ? 'Sim' : 'Não' }}</p>
    <p><strong>Data da Solicitação:</strong> {{ detalheSelecionado.dataSolicitacao | date:'dd/MM/yyyy HH:mm' }}</p>
    <p><strong>Observação do Solicitante:</strong> {{ detalheSelecionado.observacaoSolicitante }}</p>
    <hr />
    <p><strong>Aprovado pelo Gerente:</strong> {{ detalheSelecionado.aprovadoGerente ? 'Sim' : 'Não' }}</p>
    <p><strong>Observação do Gerente:</strong> {{ detalheSelecionado.observacaoGerente }}</p>
    <p><strong>Data Aprovação Gerente:</strong> {{ detalheSelecionado.dataAprovacaoGerente | date:'dd/MM/yyyy HH:mm' }}</p>
    <hr />
    <p><strong>Aprovado pelo Responsável Programa:</strong> {{ detalheSelecionado.aprovadoResponsavelPrograma ? 'Sim' : 'Não' }}</p>
    <p><strong>Observação do Responsável Programa:</strong> {{ detalheSelecionado.observacaoResponsavelPrograma }}</p>
    <p><strong>Data Aprovação Responsável Programa:</strong> {{ detalheSelecionado.dataAprovacaoResponsavelPrograma | date:'dd/MM/yyyy HH:mm' }}</p>
    <hr />
    <p><strong>Aprovado pelo TI:</strong> {{ detalheSelecionado.aprovadoTI ? 'Sim' : 'Não' }}</p>
    <p><strong>Observação do TI:</strong> {{ detalheSelecionado.observacaoTI }}</p>
    <p><strong>Data Aprovação TI:</strong> {{ detalheSelecionado.dataAprovacaoTI | date:'dd/MM/yyyy HH:mm' }}</p>
  </div>
</div>
