<div class="form-container">
  <h2>Criar Usuário Workflow</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label>Nome</label>
      <input type="text"
             formControlName="nome"
             placeholder="Digite o nome do usuário">
    </div>

    <div class="form-group">
      <label>Área</label>
      <input type="text"
             id="areaInput"
             [value]="getAreaNome()"
             (input)="buscarAreas($any($event.target).value)"
             (click)="showAreasDropdown = true"
             placeholder="Pesquisar área">
      <ul *ngIf="showAreasDropdown && areas.length"
          class="dropdown"
          (mouseleave)="showAreasDropdown = false">
        <li *ngFor="let a of areas" (click)="selecionarArea(a)">
          {{ a.nome }}
        </li>
      </ul>
    </div>

    <p *ngIf="success" class="success-msg">Usuário criado com sucesso!</p>
    <p *ngIf="errorMsg" class="error-msg">{{ errorMsg }}</p>

    <button type="submit" [disabled]="loading">
      {{ loading ? 'Salvando...' : 'Criar Usuário' }}
    </button>
  </form>
</div>
